.nav {
    background-color: #666;

    /* 上部固定 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* 横並び */
.nav-container {
    width: 90%;
    height: 60px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* タイトル */
.nav-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* メニュー */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;

    margin: 0;
    padding: 0;
}

.nav-menu div {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 10;
}

/* スマホ対応 */
@media screen and (max-width: 640px) {

    .nav-container {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .nav-menu li {
        padding: 10px 0;
        border-top: 1px solid #fff;
    }
}