.section {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 100px;
}

.title {
    font-size: 3rem;
    padding: 30px;
    padding-top: 0px;
}

.content {
    font-size: 1.1rem;
}